<div class="row">
    <div class="col-md-6">
        <ol>
            <li *ngFor="let task of tasks">
                <p>
                    <span>{{ task.name }}</span>
                    <button *ngIf="!task.ready" (click)="readyChange(task)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-ok"></span></button>
                    <button *ngIf="task.ready" (click)="readyChange(task)" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span></button>
                    <button (click)="removeTask(task)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
                </p>
            </li>
        </ol>
    </div>
</div>