<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <ol>
                <li *ngFor="let task of tasks">
                    <p>
                        <span>{{ task.name }}</span>
                        <button *ngIf="!task.ready" (click)="readyChange(task)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-ok"></span></button>
                        <button *ngIf="task.ready" (click)="readyChange(task)" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span></button>
                        <button (click)="removeTask(task)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
                    </p>
                </li>
            </ol>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input tabindex="2" class="form-control" type="text" [(ngModel)]="taskName" placeholder="Taskname">
            </div>
            <div class="form-group">
                <select name="color" id="color" class="form-control" [(ngModel)]="taskReady">
                    <option value="true">Ready</option>
                    <option value="false">Not ready</option>
                </select>
            </div>
            <button class="btn btn-info" tabindex="4" [disabled]="!taskName" (click)="addTask();">Add Task</button>
        </div>
    </div>
</div>